<h1>Dashboard</h1>

<p>
<%= link_to "Add Agent", new_agent_url %> [ <%= link_to_remote 'Down', :url => {:action => 'show_down'} %> |  
<!--<%= link_to_remote 'Favorites', :url => {:action => 'show_favorites'} %> | -->
<%= link_to_remote 'All', :url => {:action => 'show_all'} %> ] 
</p>

<div id="agents_table">
<%= render :partial => 'agents_table', :object => Agent.down %>
</div>