<h1>Editing agent</h1>

<% form_for(@agent) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </p>
  <p>
    <%= f.label :community %><br />
    <%= f.text_field :community %>
  </p>
  <p>
    <% f.label :mibs %><br />
    <% f.text_area :mibs %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @agent %> |
<%= link_to 'Back', agents_path %>
